html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: grey;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    color: wheat;
}

.none {
    display: none;
}

.error{
    margin: 20px auto;
    width: 400px;
    background-color: #606060;
    color: white;
    font-size: 20px;
    padding: 30px;
    border-radius: 15px;
}

.error p {
    text-align: center;
}

.error p a {
    color: white;
}

.wrapper{
    flex-grow: 1;
    padding: 0 10px;
}

h1 {
    padding: 20px;
    text-align: center;
    color: wheat;
}

.basket{
    position: absolute;
    top: 20px;
    right: 20px;
    
}

.basket__inner{
    position: relative;
}

.basket__count{
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    /* background-color: #ff3b30;
    color: white; */
    background-color: white;
    color: grey;
    padding: 3px;
    text-align: center;
    min-width: 25px;
}

.home{
    position: absolute;
    top: 16px;
    right: 60px;
}